__pycache__/
.venv/
mongo_data/
.env 
waze_alerts.json
plot.py
grafico_cache.png
*.json
*.csv
mongo_data/
data/
mongo_data
*.tsv
data_test
output
eventos.tsv
eventos_limpios.tsv
pig-hadoop/eventos_limpios.tsv